<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unidad Educativa Benalcázar</title>
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

<div class="main-container">
    <div class="header-section">
        <h1>U.E Lincoln L. Benalcazar</h1>
    </div>

    <div class="content-grid">
        <div class="info-card">
            <i class="fas fa-book-reader card-icon"></i>
            <button class="button" id="btnManual">Manual de usuario</button>
        </div>

        <script>
            document.getElementById('btnManual').addEventListener('click', () => {
                const link = document.createElement('a');
                link.href = '/pdf/manualUsuario.pdf';
                link.download = 'manualUsuario.pdf';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            });
        </script>

        <div class="info-card">
            <i class="fas fa-sign-in-alt card-icon"></i>
            <a th:href="@{/login}" style="text-decoration: none;">
                <button class="button">Iniciar sesión</button>
            </a>
        </div>
    </div>

    <div class="contact-info-section">
        <div class="contact-item">
            <i class="fas fa-phone-alt"></i>
            <span>Soporte: +593 95 899 3845</span>
        </div>
        <div class="contact-item">
            <i class="fas fa-envelope"></i>
            <span>Email: aguapulema@itsqmet.edu.ec</span>
        </div>
    </div>
</div>
</body>
</html>


<!--

create database Lincon;


use Lincon;

INSERT INTO usuario (nombre, apellido, email, password, rol, cedula, direccion, telefono, visible) VALUES
('U.E Lincoln L. Benalcazar', ' ', '1234@gmail.com', '$2a$12$E2JTjF1u58CGJHx39Lh4P.hwTLXDGhbJLaQT4bX6Z9VljZwTpd1ny', 'ADMIN', '1102789034', "0987654321", 'Cdla. Las Flores',1);

-- 3. Insertar nivel educativo
INSERT INTO nivel_educativo (id, nombre) VALUES
(1, 'Bachillerato General'),
(2, 'Educacion Basica'),
(3, 'Bachillerato Tecnico en Computacion'),
(4, 'Educacion Inicial');

INSERT INTO trimestre (id, nombre) VALUES
(1, 'Primer Trimestre'),
(2, 'Segundo Trimestre'),
(3, 'Tercer Trimestre');

SELECT * FROM nivel_educativo;
SELECT * FROM usuario;
SELECT * FROM admin;
SELECT * FROM docente;
SELECT * FROM estudiante;
SELECT * FROM curso;
SELECT * FROM estudiante_curso;
SELECT * FROM materia;
SELECT * FROM curso_materia;
SELECT * FROM trimestre;
SELECT * FROM periodo_academico;
SELECT * FROM notas;
SELECT * FROM asistencia;
select * from comportamiento_curso_final;

-->